.login{
    color:white;
    border: 4px solid gray;
    border-radius: 20px;
    padding-left: 50px;
    padding-right:50px;
    display: block;
    width:fit-content;
    margin:0 auto;
    margin-top:10%;
}
.login h1{
    text-align: center;
}
